<ion-content padding>

    <form (ngSubmit)="formSubmitted()">
      <b><h3 class="ion-text-center">Book Venue</h3></b>
      <ion-item >
        <ion-label class="ion-text-center"></ion-label>
      </ion-item>
      <ion-grid>
        <ion-row>
          <ion-col width-50>
              <ion-button ion-button block  (click)="tambah_venue(data)">Yes</ion-button>
            <ion-button ion-button block  outline>Cancel</ion-button>
          </ion-col>          
        </ion-row>
      </ion-grid>
    
    </form>
    
    
</ion-content>
    
    
    
    